In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
pre_survey = pd.read_csv("Data/CSE 11 Fall 2019 DeID/DeID Pre-Survey CSE 11 Fall 2019.csv")

In [4]:
pa2_data = pd.read_csv("Data/CSE 11 Fall 2019 DeID/DeID Weekly Reflection (CSE 11 PA2).csv")

In [5]:
print(pre_survey.head(1))

         Timestamp  \
0  9/27/2019 16:28

  Did.you.enter.UCSD.as.a.transfer.student.from.another..2.year.or.4.year..college.or.university.  \
0                                                 No

  If.your.current.declared.major.is.different.from.your.desired.major..i.e..you.hope.to.switch.majors...what.major.do.you.hope.to.switch.to...Leave.blank.if.this.does.not.apply.to.you..  \
0                                                NaN

  What.is.the.main.reason.you.are.taking.this.course.  \
0  To fulfill a major requirement (for your curre...

   On.a.scale.of.1.to.5..how.much.experience.did.you.have.with.programming.computer.science.before.you.took.your.FIRST.course.at.UC.San.Diego.  \
0                                                3.0

  Please.select.all.of.the.CS.programming.experiences.you.had.before.taking.your.FIRST.CS.course.at.UCSD.  \
0  Took AP CS A, Took AP Calculus, Took AP Statis...

  Please.rate.your.current.level.of.experience.with.technology.in.general  \
0  A lot of experience: e.g., worked with multipl...

   On.a.scale.of.1.to.5..how.confident.are.you.about.your.ability.to.do.well.in.this.course.  \
0                                                5.0

  What.is.the.MINIMUM.grade.you.think.you.would.be.satisfied.with.in.this.course...If.you.re.taking.this.course.pass.no.pass..note.that.C..is.the.threshold.for.passing...  \
0                                                  A

  What.is.your.gender.   What.is.your.ethnicity.  \
0                 Male  Not Hispanic or Latino/a

  What.is.your.race...Select.all.that.apply.  \
0                    East or Southeast Asian

                  What.is.your.fluency.with.English.      DeID
0  I learned English as a child in a bilingual or...  00T90APX

In [6]:
pre_survey = pre_survey.rename(columns =({"Did.you.enter.UCSD.as.a.transfer.student.from.another..2.year.or.4.year..college.or.university.":"transfer_student_status"}))

In [7]:
pre_survey.head(1)

,Timestamp,transfer_student_status,If.your.current.declared.major.is.different.from.your.desired.major..i.e..you.hope.to.switch.majors...what.major.do.you.hope.to.switch.to...Leave.blank.if.this.does.not.apply.to.you..,What.is.the.main.reason.you.are.taking.this.course.,On.a.scale.of.1.to.5..how.much.experience.did.you.have.with.programming.computer.science.before.you.took.your.FIRST.course.at.UC.San.Diego.,Please.select.all.of.the.CS.programming.experiences.you.had.before.taking.your.FIRST.CS.course.at.UCSD.,Please.rate.your.current.level.of.experience.with.technology.in.general,On.a.scale.of.1.to.5..how.confident.are.you.about.your.ability.to.do.well.in.this.course.,What.is.the.MINIMUM.grade.you.think.you.would.be.satisfied.with.in.this.course...If.you.re.taking.this.course.pass.no.pass..note.that.C..is.the.threshold.for.passing...,What.is.your.gender.,What.is.your.ethnicity.,What.is.your.race...Select.all.that.apply.,What.is.your.fluency.with.English.,DeID
0,9/27/2019 16:28,No,NaN,To fulfill a major requirement (for your curre...,3.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",5.0,A,Male,Not Hispanic or Latino/a,East or Southeast Asian,I learned English as a child in a bilingual or...,00T90APX

In [9]:
pre_survey = pre_survey.rename(columns =({"On.a.scale.of.1.to.5..how.much.experience.did.you.have.with.programming.computer.science.before.you.took.your.FIRST.course.at.UC.San.Diego.": "prior_experience"}))

In [10]:
pre_survey.head()

,Timestamp,transfer_student_status,If.your.current.declared.major.is.different.from.your.desired.major..i.e..you.hope.to.switch.majors...what.major.do.you.hope.to.switch.to...Leave.blank.if.this.does.not.apply.to.you..,What.is.the.main.reason.you.are.taking.this.course.,prior_experience,Please.select.all.of.the.CS.programming.experiences.you.had.before.taking.your.FIRST.CS.course.at.UCSD.,Please.rate.your.current.level.of.experience.with.technology.in.general,On.a.scale.of.1.to.5..how.confident.are.you.about.your.ability.to.do.well.in.this.course.,What.is.the.MINIMUM.grade.you.think.you.would.be.satisfied.with.in.this.course...If.you.re.taking.this.course.pass.no.pass..note.that.C..is.the.threshold.for.passing...,What.is.your.gender.,What.is.your.ethnicity.,What.is.your.race...Select.all.that.apply.,What.is.your.fluency.with.English.,DeID
0,9/27/2019 16:28,No,NaN,To fulfill a major requirement (for your curre...,3.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",5.0,A,Male,Not Hispanic or Latino/a,East or Southeast Asian,I learned English as a child in a bilingual or...,00T90APX
1,9/27/2019 11:07,Yes,ECE: Computer Engineering,To fulfill a major requirement (for your curre...,4.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",4.0,A-,Male,Not Hispanic or Latino/a,Indian or other South Asian,I learned English as a child in a bilingual or...,01EAM9F6
2,9/27/2019 14:38,No,NaN,Just interested in computer science,3.0,"Took AP CS A, Took AP Calculus, Took another (...","A lot of experience: e.g., worked with multipl...",4.0,A-,NaN,Not Hispanic or Latino/a,Indian or other South Asian,I learned English as a child as my primary lan...,025LQFB2
3,9/27/2019 13:59,No,CSE: Computer Science,To fulfill a major requirement (for your curre...,5.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",5.0,A,Male,Not Hispanic or Latino/a,"East or Southeast Asian, White or Caucasian",I learned English as a child as my primary lan...,039HIM2X
4,9/27/2019 22:21,No,NaN,To fulfill a major requirement (for your curre...,4.0,Took another (non-AP) CS course in high school...,"A lot of experience: e.g., worked with multipl...",4.0,A-,Male,Not Hispanic or Latino/a,White or Caucasian,I learned English as a child in a bilingual or...,04T56IGQ

In [11]:
transferStatus_experienceTable = pre_survey[["transfer_student_status","prior_experience"]]

In [12]:
transferStatus_experienceTable.head()

  transfer_student_status  prior_experience
0                      No               3.0
1                     Yes               4.0
2                      No               3.0
3                      No               5.0
4                      No               4.0

In [13]:
transferStatus_experienceTable.dropna()

    transfer_student_status  prior_experience
0                        No               3.0
1                       Yes               4.0
2                        No               3.0
3                        No               5.0
4                        No               4.0
..                      ...               ...
475                      No               4.0
476                     Yes               3.0
477                      No               1.0
478                      No               4.0
479                      No               3.0

[477 rows x 2 columns]

In [14]:
transferStatus_experienceTable[transferStatus_experienceTable.transfer_student_status == "Yes"]

    transfer_student_status  prior_experience
1                       Yes               4.0
21                      Yes               2.0
24                      Yes               2.0
48                      Yes               5.0
51                      Yes               2.0
61                      Yes               5.0
76                      Yes               3.0
82                      Yes               3.0
94                      Yes               4.0
102                     Yes               2.0
111                     Yes               4.0
114                     Yes               3.0
115                     Yes               2.0
118                     Yes               2.0
122                     Yes               4.0
129                     Yes               3.0
137                     Yes               2.0
140                     Yes               4.0
151                     Yes               3.0
152                     Yes               1.0
153                     Yes               4.0
157                     Yes               5.0
160                     Yes               4.0
173                     Yes               5.0
175                     Yes               5.0
187                     Yes               3.0
200                     Yes               3.0
202                     Yes               4.0
204                     Yes               5.0
215                     Yes               2.0
217                     Yes               1.0
221                     Yes               3.0
224                     Yes               2.0
227                     Yes               5.0
236                     Yes               4.0
253                     Yes               3.0
262                     Yes               3.0
264                     Yes               3.0
273                     Yes               5.0
283                     Yes               5.0
285                     Yes               2.0
288                     Yes               4.0
305                     Yes               2.0
314                     Yes               5.0
317                     Yes               3.0
325                     Yes               2.0
337                     Yes               5.0
340                     Yes               1.0
351                     Yes               3.0
355                     Yes               5.0
361                     Yes               3.0
364                     Yes               3.0
374                     Yes               4.0
382                     Yes               5.0
402                     Yes               3.0
404                     Yes               5.0
428                     Yes               4.0
459                     Yes               2.0
471                     Yes               4.0
476                     Yes               3.0

In [15]:
transferExperienceMeans = transferStatus_experienceTable["prior_experience"].mean()

In [16]:
print(transferExperienceMeans)

3.200836820083682

In [17]:
transferStatus_experienceTable[transferStatus_experienceTable.transfer_student_status == "No"]

    transfer_student_status  prior_experience
0                        No               3.0
2                        No               3.0
3                        No               5.0
4                        No               4.0
5                        No               3.0
..                      ...               ...
474                      No               1.0
475                      No               4.0
477                      No               1.0
478                      No               4.0
479                      No               3.0

[419 rows x 2 columns]

In [20]:
transferStudentsExperience = transferStatus_experienceTable[transferStatus_experienceTable.transfer_student_status == "Yes"]

In [21]:
transferStudentsExperience.head()

   transfer_student_status  prior_experience
1                      Yes               4.0
21                     Yes               2.0
24                     Yes               2.0
48                     Yes               5.0
51                     Yes               2.0

In [22]:
transferExperienceAverage = transferStudentsExperience["prior_experience"].mean()

In [23]:
print(transferExperienceAverage)

3.3666666666666667

In [24]:
regularStudentsExperience = transferStatus_experienceTable[transferStatus_experienceTable.transfer_student_status == "No"]

In [25]:
regularStudentsExperience.head()

  transfer_student_status  prior_experience
0                      No               3.0
2                      No               3.0
3                      No               5.0
4                      No               4.0
5                      No               3.0

In [26]:
regularExperienceAverage = regularStudentsExperience[]

SyntaxError: invalid syntax (<ipython-input-26-f136a705abcc>, line 1)

In [27]:
regularExperienceAverage = regularStudentsExperience["prior_experience"].mean()

In [28]:
print(regularExperienceAverage)

3.1774580335731413

In [29]:
pre_survey = pre_survey.rename(columns =({"On.a.scale.of.1.to.5..how.confident.are.you.about.your.ability.to.do.well.in.this.course.": "confidence"}))

In [30]:
pre_survey.head()

,Timestamp,transfer_student_status,If.your.current.declared.major.is.different.from.your.desired.major..i.e..you.hope.to.switch.majors...what.major.do.you.hope.to.switch.to...Leave.blank.if.this.does.not.apply.to.you..,What.is.the.main.reason.you.are.taking.this.course.,prior_experience,Please.select.all.of.the.CS.programming.experiences.you.had.before.taking.your.FIRST.CS.course.at.UCSD.,Please.rate.your.current.level.of.experience.with.technology.in.general,confidence,What.is.the.MINIMUM.grade.you.think.you.would.be.satisfied.with.in.this.course...If.you.re.taking.this.course.pass.no.pass..note.that.C..is.the.threshold.for.passing...,What.is.your.gender.,What.is.your.ethnicity.,What.is.your.race...Select.all.that.apply.,What.is.your.fluency.with.English.,DeID
0,9/27/2019 16:28,No,NaN,To fulfill a major requirement (for your curre...,3.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",5.0,A,Male,Not Hispanic or Latino/a,East or Southeast Asian,I learned English as a child in a bilingual or...,00T90APX
1,9/27/2019 11:07,Yes,ECE: Computer Engineering,To fulfill a major requirement (for your curre...,4.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",4.0,A-,Male,Not Hispanic or Latino/a,Indian or other South Asian,I learned English as a child in a bilingual or...,01EAM9F6
2,9/27/2019 14:38,No,NaN,Just interested in computer science,3.0,"Took AP CS A, Took AP Calculus, Took another (...","A lot of experience: e.g., worked with multipl...",4.0,A-,NaN,Not Hispanic or Latino/a,Indian or other South Asian,I learned English as a child as my primary lan...,025LQFB2
3,9/27/2019 13:59,No,CSE: Computer Science,To fulfill a major requirement (for your curre...,5.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",5.0,A,Male,Not Hispanic or Latino/a,"East or Southeast Asian, White or Caucasian",I learned English as a child as my primary lan...,039HIM2X
4,9/27/2019 22:21,No,NaN,To fulfill a major requirement (for your curre...,4.0,Took another (non-AP) CS course in high school...,"A lot of experience: e.g., worked with multipl...",4.0,A-,Male,Not Hispanic or Latino/a,White or Caucasian,I learned English as a child in a bilingual or...,04T56IGQ

In [31]:
transferStatus_confidenceTable = pre_survey[["transfer_student_status","confidence"]]

In [32]:
transferStatus_confidenceTable.head()

  transfer_student_status  confidence
0                      No         5.0
1                     Yes         4.0
2                      No         4.0
3                      No         5.0
4                      No         4.0

In [33]:
transferStudentsConfidence = transferStatus_confidenceTable[transferStatus_confidenceTable.transfer_student_status == "Yes"]

In [34]:
transferStudentsConfidence.head()

   transfer_student_status  confidence
1                      Yes         4.0
21                     Yes         2.0
24                     Yes         4.0
48                     Yes         NaN
51                     Yes         5.0

In [35]:
transferStudentsConfidence.dropna()

    transfer_student_status  confidence
1                       Yes         4.0
21                      Yes         2.0
24                      Yes         4.0
51                      Yes         5.0
61                      Yes         3.0
76                      Yes         4.0
82                      Yes         5.0
94                      Yes         5.0
102                     Yes         3.0
111                     Yes         4.0
114                     Yes         4.0
115                     Yes         4.0
118                     Yes         1.0
122                     Yes         5.0
129                     Yes         3.0
137                     Yes         4.0
140                     Yes         5.0
151                     Yes         2.0
152                     Yes         3.0
153                     Yes         5.0
157                     Yes         5.0
173                     Yes         5.0
175                     Yes         5.0
187                     Yes         4.0
200                     Yes         3.0
202                     Yes         4.0
204                     Yes         5.0
215                     Yes         3.0
217                     Yes         3.0
221                     Yes         3.0
224                     Yes         3.0
227                     Yes         4.0
236                     Yes         5.0
253                     Yes         2.0
262                     Yes         3.0
264                     Yes         5.0
273                     Yes         5.0
283                     Yes         5.0
285                     Yes         2.0
288                     Yes         4.0
305                     Yes         5.0
314                     Yes         4.0
317                     Yes         4.0
325                     Yes         1.0
337                     Yes         5.0
340                     Yes         2.0
351                     Yes         5.0
355                     Yes         4.0
361                     Yes         3.0
364                     Yes         4.0
374                     Yes         4.0
382                     Yes         5.0
402                     Yes         3.0
404                     Yes         5.0
428                     Yes         4.0
459                     Yes         4.0
471                     Yes         5.0
476                     Yes         3.0

In [36]:
transferConfidenceAverage = transferStudentsConfidence["confidence"].mean()

In [37]:
print(transferConfidenceAverage)

3.8448275862068964

In [38]:
regularStudentsConfidence = transferStatus_confidenceTable[transferStatus_confidenceTable.transfer_student_status == "No"]

In [39]:
regularStudentsConfidence.head()

  transfer_student_status  confidence
0                      No         5.0
2                      No         4.0
3                      No         5.0
4                      No         4.0
5                      No         3.0

In [40]:
regluarStudentsConfidenceAverage = regularStudentsConfidence[]

SyntaxError: invalid syntax (<ipython-input-40-c1ce4331f72d>, line 1)

In [41]:
regluarStudentsConfidenceAverage = regularStudentsConfidence["confidence"].mean()

In [42]:
print(regluarStudentsConfidenceAverage)

3.836144578313253